@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

.url-bar {
  position: fixed;
  top: 10%; /* Distance from the top */
  left: 50%;
  transform: translateX(-50%);
  width: 60vw; /* Width of the URL bar */
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  border-radius: 8px; /* Optional: if you want rounded corners */
}

.url-input {
  width: calc(100% - 8px);
  height: 20px;
  padding: 8px;
  margin: 0;
  border: 1px solid #ffffff3c;
  border-radius: 4px;
  font-size: 11.5px;
  color: #fff;
  font-family: 'JetBrains Mono', monospace;
  background-color: #141414;
}
